<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notatnik</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Aplikacja Notatek</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notatnik' %}">Notatnik</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'baza' %}">Twoje notatki</a>
          </li>
        </ul>
        <span id="clock" class="ml-auto mr-4" style="font-size: 18px;"></span>
      </div>
    </nav>
  
    <div class="container mt-5">
      <h1 class="text-center mb-4">Aplikacja do prowadzenia notatek z lekcji</h1>

        <div class="container">
            {% block content %}
            
            {% endblock content %}
        </div>

    </div>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      function updateClockAndDate() {
            var now = new Date();
            var hours = now.getHours();
            var minutes = now.getMinutes();
            var seconds = now.getSeconds();
            var day = now.getDate();
            var month = now.getMonth() + 1; // dodajemy 1, ponieważ styczeń zwraca 0
            var year = now.getFullYear();

            // Formatowanie czasu do postaci HH:MM:SS
            var timeString = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2) + ':' + ('0' + seconds).slice(-2);
            
            // Formatowanie daty do postaci DD.MM.RRRR
            var dateString = ('0' + day).slice(-2) + '.' + ('0' + month).slice(-2) + '.' + year;

            // Aktualizacja treści elementów zegara i daty
            document.getElementById('clock').textContent = dateString + " | " + timeString;
        }

        // Uruchomienie funkcji updateClockAndDate co sekundę
        setInterval(updateClockAndDate, 1000);

        // Uruchomienie updateClockAndDate przy załadowaniu strony
        updateClockAndDate();
  </script>
  </body>
  </html>